.app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("pawns.jpg");
  /* background-position: center; */

  background-repeat: no-repeat;
}

h1 {
  margin: 10px
}

span {
  font-size: 60px;
}

.btn {
  padding: 10px 30px;
  margin: 30px;
}


@media(max-width: 420px){
  h1 {
    font-size: 25px;
  }

  span {
    font-size: 80px;
  }
}
